// Vuetify
@import 'vuetify/styles';

// Base
@import 'base/variables';
@import 'base/reset';
@import 'base/transitions';
@import 'base/display';

// Components
@import 'components/buttons';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/home';

:root {
  --p-black: $pblack;
  --p-blue: $pblue;
  --p-white: $pwhite;
  --p-dark: $pdark;

  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
