$pblack: #222831;
$pblue: #0099ff;
$pwhite: #f3faff;
$pdark: #2b3f57;

// $portfolio_primary: #7579e7;
// $portfolio_secondary: #08090a;
// $portfolio_light: #f4f7f5;

$portfolio_primary: #2b2d42;
$portfolio_secondary: #d90429;
$portfolio_secondary_lighten-1: #ef233c;
$portfolio_default: #edf2f4;
$portfolio_grey: #8d99ae;

$hover-transition: 0.2s ease-in-out;
