$pblack: #222831;
$pblue: #0099ff;
$pwhite: #f3faff;
$pdark: #2b3f57;

// 1
$nb11: #7579e7;
$nb12: #908cb8;
$nb13: #faf8ff;
// 2
$nb21: #9ab3f5;
$nb22: #4a90f9;
$nb23: #f6f9ff;
// 3
$nb31: #a3d8f4;
$nb32: #00a3ed;
$nb33: #e8fcff;

// 4
$nb41: #b9fffc;
$nb42: #00aaa9;
$nb43: #ecfdfc;

$hover-transition: 0.2s ease-in-out;
